.bordaTexto {
  -webkit-text-stroke-width: 4px; 
  -webkit-text-stroke-color: #000;
}

/* CELULAR */
@media screen and (max-device-width: 480px) {
  .bordaTexto {
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: #000;
  }
}
